$grid-columns: 12;
$grid-gutter-width: 1rem;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);


// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "functions";
@import "variables";
@import "mixins/breakpoints";
@import "mixins/container";
@import "mixins/grid";

@mixin make-max-width-container($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $max-width;
        }
    }
}

.my-row {
    @include make-row();

    & > * {
        @include make-col-ready();
    }
}
// @extend .my-row;
// @include media-breakpoint-up(md)